<header class="navigation-container">
    <nav class="navigation flex" data-aos="fade-left">
      <div class="navigation-head flex align-center position-relative">
        <a href="#" class="logo"><img src="../image/svg/header/logo.svg" alt="Logo" /></a>
        <img src="../image/svg/header/menu.svg" alt="Menu" onclick="toggleMenu()" class="menu-toggle-btn menu-svg" />
        <img src="../image/svg/close-circle.svg" alt="Close" onclick="toggleMenu()"
          class="menu-toggle-btn menu-svg close-svg hidden" />
        <!-- <object data="../image/svg/header/menu.svg" onclick="toggleMenu()" class="menu-svg"
                    type="image/svg+xml">
                    Your browser does not support SVG
                </object>
                <object data="../image/svg/close-circle.svg" onclick="toggleMenu()" class="menu-svg close-svg hidden"
                    type="image/svg+xml">
                    Your browser does not support SVGs
                </object> -->
      </div>
      <div class="navigation-content hidden">
        <object data="../image/svg/wave-up.svg" class="header-background-0" type="image/svg+xml">
          Your browser does not support SVG
        </object>
        <div class="ocean hidden">
          <div class="wave"></div>
          <div class="wave"></div>
        </div>
        <ul class="menu-ctn">
          <li class="has-dropdown">
            <a href="/">Home</a>
            <span class="navigation-plus-icon"></span>
          </li>
          <ul class="dropdown submenu">
            <li>Mango</li>
            <li>Orange</li>
            <li>Pineapple</li>
          </ul>
          <li class="has-dropdown">
            <a href="/fruits">Fruits</a>
            <span class="navigation-plus-icon"></span>
          </li>
          <ul class="dropdown submenu">
            <li>Mango</li>
            <li>Orange</li>
            <li>Pineapple</li>
          </ul>
          <!-- <li>
            <a href="/about-us">About Us</a>
            <span class="navigation-plus-icon"></span>
          </li> -->
          <li>
            <a href="/vegetables">Vegetables</a>
            <span class="navigation-plus-icon"></span>
          </li>
          <li>
            <a href="/rice-corn">Rice & Corn</a>
            <span class="navigation-plus-icon"></span>
          </li>
          <li>
            <a href="/northeast-source">Source from Northeast</a>
            <span class="navigation-plus-icon"></span>
          </li>
          <li>
            <a href="/social-impact">Social Impact</a>
            <span class="navigation-plus-icon"></span>
          </li>
          <!-- <li>
            <a href="/cultivate-northeast">Cultivate in Northeast</a>
            <span class="navigation-plus-icon"></span>
          </li> -->
          <!-- <li>
            <a href="/contact">Contact Us</a>
            <span class="navigation-plus-icon"></span>
          </li> -->
        </ul>
        <span class="blur_bg position-absolute block bottom-0 right-0" style="z-index: -1"></span>
      </div>
    </nav>
  </header>