/* Default styles (desktop) */
.blur_bg {
  background: rgba(161, 238, 82, 0.36);
  filter: blur(95px);
  width: 40vh;
  height: 40vh;
}

/* Tablet styles (768px - 1024px) */
@media only screen and (max-width: 1024px) {
  /* .navigation-container .navigation {
    width: 37%;
    left: 60%;
  } */

  /* .hero-background {
    position: absolute;
    bottom: -8% !important;
    right: -6%;
    float: right;
    z-index: -1;
  } */

  .hero-intro h1 {
    font-size: 55px !important;
  }

  .hero-intro h4 {
    font-size: 24px !important;
  }

  .mission {
    height: auto !important;
    padding-bottom: 100px;
  }

  .mission-content .one,
  .mission-content .two,
  .mission-content .three {
    padding-left: 50px !important;
    margin-left: 0 !important;
    width: 100% !important;
    padding-top: 100px !important;
  }

  .featured-product {
    width: 350px !important;
  }

  .featured-image-container {
    height: 350px !important;
  }

  .hero-two-content-1 {
    height: 45vw !important;
  }

  .hero-two .image-slider {
    left: 50vw !important;
  }

  .features {
    gap: 20px !important;
    flex-wrap: nowrap;
  }

  .feature {
    width: 220px !important;
    height: 350px !important;
  }
}

/* Mobile styles (up to 767px) */
@media only screen and (max-width: 767px) {
  /* Root Backgrounds */
  .blur_bg {
    width: 30vh;
    height: 30vh;
  }

  .hero-background-0 {
    display: none;
  }

  .hero-background-0-mobile {
    display: block;
    top: -65px;
    position: absolute;
  }

  .hero-background {
    width: 80vw;
    top: unset;
    bottom: unset;
  }

  .hero-background-1 {
    top: -5% !important;
    left: -15% !important;
  }

  .mission-background-2 {
    right: -30% !important;
    width: 50vh !important;
  }

  /* Hero Section */
  .product-hero {
    height: auto !important;
    flex-direction: column !important;
    padding-top: 50px !important;
  }

  .hero-image {
    width: 100% !important;
    left: 0 !important;
    top: 0 !important;
    max-width: 100% !important;
  }

  .hero-intro {
    bottom: -40px !important;
    padding: 20px !important;
    left: -10px;
  }

  .hero-intro h1 {
    font-size: 42px !important;
    line-height: 1.2 !important;
  }

  .hero-intro h4 {
    font-size: 20px !important;
  }

  /* Mission Section */
  .mission-background-0 {
    display: none;
  }

  .mission-background-0-mobile {
    display: block;
    width: 100%;
  }

  .mission {
    height: auto !important;
    top: -100px !important;
    padding-bottom: 50px !important;
  }

  .mission-content {
    height: auto !important;
    position: relative;
  }

  .mission .container {
    height: 100%;
    display: flex;
  }

  .mission .container > div:nth-of-type(1) {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .mission-content .one,
  .mission-content .two,
  .mission-content .three {
    padding: 40px 24px !important;
    margin-left: 0 !important;
  }
  .mission-content p {
    font-size: 14px !important;
  }

  .mission-content:nth-child(1) {
    width: 90vw;
    left: 5vw;
    bottom: 28px;
  }

  .mission-content:nth-child(2) {
    width: 80vw;
    left: 15vw;
    bottom: 45px;
  }

  .mission-content:nth-child(3) {
    width: 60vw;
    left: 45vw;
    bottom: 70px;
    text-wrap: wrap;
  }

  /* Product Slider */
  .fruit-slider_intro-content {
    top: -50px;
    left: auto;
  }

  .product-container {
    flex-direction: column !important;
    height: auto !important;
  }

  .featured-product {
    width: 100% !important;
    margin-bottom: 30px;
  }

  .featured-image-container {
    height: 300px !important;
    bottom: 0 !important;
  }

  .product-row {
    height: auto !important;
    flex-wrap: wrap !important;
    justify-content: center !important;
    margin-top: 20px !important;
  }

  .product-item {
    position: relative !important;
    margin: 10px !important;
  }

  .fruit-slider_intro-content {
    padding-left: 1rem !important;
    text-align: center !important;
  }

  /* Hero Two Section */

  .hero-two-content-0 {
    flex-direction: column !important;
    margin-left: 0 !important;
  }

  .hero-two-content-1 {
    height: 92vw !important;
    background-size: cover !important;
    margin-top: 30px;
  }

  .hero-two-content-1 img {
    width: 70vw !important;
    height: 70vw !important;
    left: 15% !important;
    bottom: 0px;
  }

  .hero-two {
    flex-direction: column;
    margin-top: 10rem;
  }

  .hero-two .image-slider {
    left: 50% !important;
    transform: translateX(-50%) !important;
    margin-top: 20px !important;
  }

  /* Why Choose Section */
  .why-choose {
    height: auto !important;
    padding: 30px 10px !important;
    margin-top: 50px !important;
  }

  .features {
    width: unset;
    flex-direction: column !important;
    align-items: center !important;
    gap: 30px !important;
  }

  .feature {
    width: 100% !important;
    max-width: 300px !important;
    height: auto !important;
  }

  .feature-align {
    top: 0 !important;
  }

  .feature-icon {
    margin: 2rem 0 !important;
  }

  .feature-title {
    padding-top: 2rem !important;
    padding-bottom: 2rem !important;
  }

  /* Category Section */
  .categories {
    height: 600px;
  }

  .categories-section {
    padding: unset;
    margin-bottom: 50px;
  }

  .category-card {
    width: 140px !important;
  }

  .category-card .image {
    width: 140px !important;
    height: 140px !important;
    border-width: 15px !important;
  }

  .category-card.active {
    width: 160px !important;
  }

  .category-card.active h5 {
    margin: 0px 5px;
    font-weight: 500;
  }

  .category-card.active p {
    margin: 0px 5px;
  }

  /* sources from northeaset Section */
  .map-product-container .page-bg-svg {
    height: 190vh;
  }

  .map-product-container .container {
    margin-top: 16rem !important;
    flex-direction: column-reverse;
    gap: 97px;
  }

  /* Empowerment Section */
  .empowerment {
    flex-direction: column;
  }

  .empowerment-content-0 {
    flex-direction: column !important;
    margin-left: 0 !important;
  }

  .empowerment-image-content {
    height: 880px;
  }

  .empowerment-image-content > div {
    flex-wrap: wrap;
    gap: 20px;
    position: relative;
    width: 350px;
  }

  .align-bottom {
    left: 167px;
    top: unset;
  }

  .empowerment-content-1 {
    height: 80vw !important;
  }

  .empowerment-content-1 img {
    width: 70vw !important;
    height: 70vw !important;
    left: 15% !important;
    bottom: 0px;
  }

  .empowerment .image-slider {
    left: 50% !important;
    transform: translateX(-50%) !important;
  }

  .empowerment-images {
    flex-wrap: wrap !important;
    justify-content: center !important;
  }

  .empowerment-images div {
    width: 165px !important;
    height: 165px !important;
  }

  .empowerment-images img {
    width: 160px !important;
    height: 160px !important;
  }
}

/* Small mobile devices (up to 480px) */
@media only screen and (max-width: 480px) {
  hr {
    display: none;
  }

  .text-em-1 {
    font-size: 1em;
  }

  .text-em-125 {
    font-size: 1.25em;
  }

  .text-em-15 {
    font-size: 1.1em;
  }

  .text-em-2 {
    font-size: 2em;
  }

  .text-em-3 {
    font-size: 2em;
  }

  .text-em-35 {
    font-size: 3.5em;
  }

  .text-em-4 {
    font-size: 4em;
  }

  .text-em-45 {
    font-size: 4.5em;
  }

  .text-em-5 {
    font-size: 3.5em;
  }

  .hero-intro {
    bottom: -60px !important;
    padding: unset !important;
    left: -10px;
    height: 217px;
  }

  .mission {
    height: auto !important;
    top: -10vh !important;
    padding-bottom: 50px !important;
  }
  .mission-content:nth-child(3) {
    width: 74vw;
    left: 40vw;
    bottom: 23vw;
    text-wrap: wrap;
  }
  .mission-content:nth-child(2) {
    width: 87vw;
    left: 12vw;
    bottom: 71px;
  }
  .mission-content:nth-child(1) {
    width: 95vw;
    left: 0vw;
    bottom: 43px;
  }
  .hero-two-content-0 {
    padding: 10px;
  }

  .feature-icon img {
    width: 150px;
    height: 150px;
  }

  .feature-icon {
    margin: 0rem 0 !important;
  }

  .feature-icon {
    width: 150px;
    height: 150px;
  }

  .feature-title {
    padding-top: 0rem !important;
    font-size: 18px;
    font-weight: 600;
    opacity: 0.6;
  }

  .features {
    gap: 50px !important;
    margin: 60px auto;
    margin-bottom: 0px;
  }

  .categories-section .subheading {
    padding: 10px;
  }

  .empowerment-content-0 {
    padding: 10px;
  }

  .empowerment li {
    font-weight: 30px;
    font-weight: 500;
    list-style-type: none;
  }

  .map-product-container .page-bg-svg {
    height: 170vh;
  }

  .category-card .image {
    width: 115px !important;
    height: 117px !important;
  }
  .category-card {
    width: 120px !important;
  }

  /* Hero section css */
  .hero-intro h1 {
    margin-top: 3%;
  }

  /* Farm section Css */
  .hero-two {
    margin-top: -20%;
  }

  /* Mission Section Css */


  /* fruit animation section */
  .carousel-container {
    margin-left: 44%;
    margin-top: 38%;
  }

  .fruit h2 {
    font-size: 1.2rem;
    margin-top: -7%;
  }

  /* Map section css */
  .product-showcase-bg {
    left: 9%;
    width: 300px;
    height: 300px;
  }

  .map-product-container .product-showcase {
    width: 220px;
    height: 220px;
  }
}


@media (max-width: 391px) {
    /* Hero Section CSS */
    .hero-background  {
      left: 21%;
    }
    .hero-image {
      left: -2%;
    }
}

@media (max-width: 376px) {

  /* Map section CSS */
  .product-showcase-bg {
    left: 4%;
    width: 300px;
    height: 300px;
  }
  /* Mission section CSS */
  .mission {
    margin-top: 1rem;
  }
  .mission .one {
    margin-top: 28%;
  }

  .mission-content:nth-child(3) {
    left: -8vw;
    bottom: 20vw
  }
}

/* .hero-intro h1 {
    font-size: 36px !important;
  }
  .hero-intro h4 {
    font-size: 18px !important;
  }
  .category-card {
    width: 120px !important;
  }
  .category-card .image {
    width: 120px !important;
    height: 120px !important;
  }
  .category-card.active {
    width: 140px !important;
  }
  .featured-image-container {
    height: 250px !important;
  } */
