.navigation-container {
}
.navigation-container .navigation {
  width: 30%;
  display: flex;
  margin: 0.5rem 1.5rem;
  background-color: #fff;
  border: 1px slid white;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  z-index: 3;
  position: relative;
  padding: 10px 15px;
  border-radius: 13px;
  right: -65%;
  box-shadow: 1px 1px 10px 15px;
}
.navigation .logo {
  width: 75px;
  /* height: 75px; */
}
.navigation .menu-svg {
  width: 30px;
  height: 30px;
}
