.navigation-container{
    display: none;
}
#blur_bg {
    background: rgba(161, 238, 82, 0.36);
    filter: blur(95px);
    width: 40vh;
    height: 40vh;
    display: block;
    position: absolute;
    top: -5%;
    left: -5%;
}