@media (max-width: 480px) {
  .col-r {
    flex-direction: column-reverse;
  }
  /* hero section css */
  section div {
    z-index: 1;
    position: relative;
  }
  .organic-section {
    min-height: fit-content;
    z-index: 1;
  }

  .line-f {
    top: 6%;
  }
  .rice-text {
    font-size: 3.5rem;
  }

  .text-transparent {
    margin-top: -18%;
  }

  .h-desc {
    width: 100%;
    margin-top: -10%;
    font-size: 15px;
  }

  .organic-content {
    margin-top: 20%;
  }

  /* Round Area CSS */
  .dotted-line {
    display: none;
  }
  .rn-first-row {
    gap: 0rem;
    flex-direction: column;
  }

  .rn-first-row :nth-child(even) {
    flex-direction: row-reverse;
  }

  .rn-second-row {
    gap: 0rem;
    flex-direction: column;
    margin-left: 0%;
  }

  .rn-second-row :nth-child(even) {
    flex-direction: row-reverse;
  }

  .description {
    margin-right: 2%;
  }

  /* Fruit animation CSS */
  .p-section {
    min-height: max-content;
  }
  .p-section .carousel {
    gap: 0.8rem;
    flex-wrap: nowrap;
  }

  .p-section h1 {
    font-size: 1.6rem;
  }

  .tag {
    padding: 8px 9px;
    font-size: 14px;
  }

  h2 {
    font-size: 1.5rem;
  }

  /* Map section CSS */
  .certification-wheel {
    max-width: 350px;
  }

  .w-content h2 {
    font-size: 1.6rem;
    max-width: 100%;
  }

  /* Key area Section CSS */
  .c-container {
    margin-top: 35%;
  }

  .content-wrapper {
    margin-top: 10%;
  }
  .circle-image {
    max-width: 330px;
  }

  .section-image {
    max-width: 330px;
    margin-inline: auto;
  }

  .text-content p {
    font-size: 15px;
  }

  .benefit-item,
  .benefit-item p {
    font-size: 15px;
  }

  .packing-list li {
    font-size: 15px;
  }
  .packing-title {
    font-size: 1.5rem;
  }

  .mr-2 {
    margin-inline: 2rem;
  }
}
