<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Social Impact</title>
  <link rel="stylesheet" href="../css/pages/socialimpact.css" />
  <link rel="stylesheet" href="../css/header.css" />
  <link rel="stylesheet" href="../css/pages/responsive/socialimpact.css" />
  <link
    href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
    rel="stylesheet" />
  <link href="../css/scroll-animation.css" rel="stylesheet" />
  <link rel="stylesheet" href="../css/footer.css" />
</head>

<body>
  <%- include('./partials/header.ejs') %>

    <!-- Hero Section -->
    <section class="organic-section position-relative" data-aos="fade-up">
      <div class="line-f">
        <img src="../image/ricecorn/line.png" alt="" srcset="" />
      </div>



      <div class="social-hero">
        <span class="blur_bg position-absolute right-0"></span>
        <div class="organic-content" data-aos="fade-up">
          <h2 class="heading-primary">Overview of</h2>
          <h1 class="text-transparent">
            <span class="rice-text">Social Impact</span>
          </h1>
          <p>We are on the ground with growers, empowering them to leave poverty behind and restore ecosystems.</p>
        </div>

        <div class="hero-imgs">
          <div>
            <img src="../image/social/sc-1.webp" alt="farmer image" srcset="" />
          </div>
          <div>
            <img src="../image/social/hr-img1.png" alt="" srcset="" />
          </div>
          <div>
            <img src="../image/social/hr-img2.png" alt="" srcset="" />
          </div>
          <div>
            <img src="../image/social/oldman.png" alt="" srcset="" />
          </div>
          <div>
            <img src="../image/social/hr-img2.png" alt="" srcset="" />
          </div>
          <div>
            <img src="../image/social/hr-img1.png" alt="" srcset="" />
          </div>
        </div>
      </div>
   
    </section>

    <!-- Descript section with Wheel -->
    <section class="container">
      <div class="wave"></div>
      <div class="bottom-blur"></div>
      <div class="content">
        <div class="header">
          Our Farmer Development<br />
          Model
        </div>

        <div class="icon-grid our_process">
          <img class="show_process" src="../image/social/our_process.png" alt="">
          <img class="show_process_mobile" src="../image/social/our_process_mobile.png" alt="">
          <!-- Row 1 -->
          <!-- <div class="icon-item">
            <div class="icon no-poverty">
              <img src="../image/social/poverty.png" alt="No poverty icon" />
            </div>
            <div class="icon-text">Selection of potential individual farmers</div>
          </div>

          <div class="icon-item">
            <div class="icon climate-action">
              <img src="../image/social/poverty.png" alt="Climate Action icon" />
            </div>
            <div class="icon-text">Forming of FPOs / FPC</div>
          </div>

          <div class="icon-item">
            <div class="icon life-on-land">
              <img src="../image/social/climate.png" alt="Life on Land icon" />
            </div>
            <div class="icon-text">Training for export standard cultivation</div>
          </div>

          <div class="icon-item">
            <div class="icon zero-hunger">
              <img src="../image/social/poverty.png" alt="Zero hunger icon" />
            </div>
            <div class="icon-text">Financial assistance</div>
          </div> -->

          <!-- Row 2 -->
          <!-- <div class="icon-item">
            <div class="icon reduced-inequalities">
              <img src="../image/social/poverty.png" alt="Reduced inequalities icon" />
            </div>
            <div class="icon-text">Product ready for global market</div>
          </div> -->
        </div>
      </div>
    </section>

    <!-- curve Section -->
    <section class="curve-container position-relative">
      <span class="blur_bg position-absolute right-0 top-0 " style="z-index: 1;"></span>
      <span class="blur_bg position-absolute left-0 bottom-0 " style="z-index: 1;"></span>
      <div class="title">
        <h1>Our impact to the farmers society</h1>
      </div>
      <div class="initiatives" style="z-index: 2;" data-aos="fade-up">
        <div class="initiative-item">
          <div class="number">1</div>
          <div class="text">Better & regular income</div>
        </div>
        <div class="initiative-item">
          <div class="number">2</div>
          <div class="text">Supporting farmer families</div>
        </div>
        <div class="initiative-item">
          <div class="number">3</div>
          <div class="text">Economic growth</div>
        </div>
        <div class="initiative-item">
          <div class="number">4</div>
          <div class="text">Exposure to global market</div>
        </div>
        <div class="initiative-item">
          <div class="number">5</div>
          <div class="text"> General farmer to skilled farmer</div>
        </div>
      </div>
    </section>

    <!-- Key benefit section -->
    <section class="container mb-5" data-aos="fade-up">
      <!-- First Row -->
      <div class="content-wrapper">
        <div class="text-content">
          <h2>Our Mission</h2>
          <p>
            In <span class="highlight">Kiega Exims</span>, our guiding principle
            is to create a lasting impact on the lives of small-scale farmers,
            which in turn contribute to the development of the entire region.
            Our mission goes beyond
            <span class="highlight">supplying organic and healthy products</span>
            to the global market; It’s about uplifting the livelihood of farmers
          </p>
          <p>
            Our guiding principle is to create a lasting impact on the lives of
            small-scale farmers, which in turn contribute to the development of
            the entire region. Our mission goes beyond
            <span class="highlight">supplying organic and healthy products</span>
            to the global market; It’s about uplifting the livelihood of
            farmers. Our mission goes beyond
            <span class="highlight">supplying organic and healthy products</span>
            to the global market; It’s about uplifting the livelihood of farmers
          </p>
        </div>
        <div class="f-image-content">
          <img src="../image/ricecorn/green-rice.png" alt="Pumpkins growing in a field" class="circle-image" />
        </div>
      </div>
      
      
      <!-- Second Row -->
      <div class="second-row" data-aos="fade-up">
        <span class="blur_bg position-absolute left-0 bottom-0" style="bottom: 180px;"></span>
        <div class="packing-section">
          <h2 class="packing-title">We empower our workforce</h2>
          <ul class="packing-list">
            <li>100% of our products are certified organic</li>
            <li>
              Many of our fruits are available from regenerative, Demeter
              certified farms.
            </li>
            <li>
              Many of our fruits are available from regenerative, Demeter
              certified farms.
            </li>
            <li>
              We farm, export, import... and we also train and support. We are
              on the ground with growers, empowering them to leave poverty ehind
              and restore ecosystems.
            </li>
          </ul>
          <p><span class="highlight">We’re an organic and fair trade pioneer.</span>
            Over the years, we’ve grown into a international fresh food group, but our mission stayed the same. We’re
            here to save soils, lift up lives, and nourish the world with healthy food.</p>
        </div>
        <div class="image-content">
          <img src="../image/social/farm1.png" alt="Cut pumpkin pieces on a wooden surface" class="circle-image" />
          <img src="../image/social/farm2.png" alt="Cut pumpkin pieces on a wooden surface" class="circle-image" />
          <img src="../image/social/farm3.png" alt="Cut pumpkin pieces on a wooden surface" class="circle-image" />
        </div>
      </div>
    </section>
    <%- include('./partials/footer.ejs') %>

      <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
      <script>
        AOS.init();
      </script>
</body>

</html>