<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Pumpkin Section</title>
  <link rel="stylesheet" href="../css/pages/socialimpact.css" />
  <link rel="stylesheet" href="../css/header.css" />
  <link rel="stylesheet" href="../css/pages/responsive/ricecorn.css" />
  <link
    href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
    rel="stylesheet" />
  <link href="../css/scroll-animation.css" rel="stylesheet" />
  <link rel="stylesheet" href="../css/footer.css" />
</head>

<body>
  <%- include('./partials/header.ejs') %>

    <!-- Hero Section -->
    <section class="organic-section position-relative" data-aos="fade-up">
      <div class="line-f">
        <img src="../image/ricecorn/line.png" alt="" srcset="" />
      </div>

      <span class="blur_bg position-absolute top-0 left-0 block hero-background-1"></span>

      <div class="social-hero">
        <div class="organic-content" data-aos="fade-up">
          <h2 class="heading-primary">Overview of</h2>
          <h1 class="text-transparent">
            <span class="rice-text">Social Impact</span>
          </h1>
        </div>

        <div class="hero-imgs">
          <div>
            <img src="../image/social/hr-img1.png" alt="" srcset="" />
          </div>
          <div>
            <img src="../image/social/hr-img1.png" alt="" srcset="" />
          </div>
          <div>
            <img src="../image/social/hr-img2.png" alt="" srcset="" />
          </div>
          <div>
            <img src="../image/social/hr-img1.png" alt="" srcset="" />
          </div>
          <div>
            <img src="../image/social/hr-img2.png" alt="" srcset="" />
          </div>
          <div>
            <img src="../image/social/hr-img1.png" alt="" srcset="" />
          </div>
        </div>
      </div>
      <span class="blur_bg position-absolute right-0"></span>
    </section>

    <!-- Descript section with Wheel -->
    <section class="container">
      <div class="wave"></div>
      <div class="bottom-blur"></div>
      <div class="content">
        <div class="header">
          Farmer development<br />
          Real impact
        </div>

        <div class="icon-grid">
          <!-- Row 1 -->
          <div class="icon-item">
            <div class="icon no-poverty">
              <img src="../image/social/poverty.png" alt="No poverty icon" />
            </div>
            <div class="icon-text">No poverty</div>
          </div>

          <div class="icon-item">
            <div class="icon climate-action">
              <img src="../image/social/poverty.png" alt="Climate Action icon" />
            </div>
            <div class="icon-text">Climate Action</div>
          </div>

          <div class="icon-item">
            <div class="icon life-on-land">
              <img src="../image/social/climate.png" alt="Life on Land icon" />
            </div>
            <div class="icon-text">Life on Land</div>
          </div>

          <div class="icon-item">
            <div class="icon zero-hunger">
              <img src="../image/social/poverty.png" alt="Zero hunger icon" />
            </div>
            <div class="icon-text">Zero hunger</div>
          </div>

          <!-- Row 2 -->
          <div class="icon-item">
            <div class="icon decent-work">
              <img src="../image/social/poverty.png" alt="Decent work icon" />
            </div>
            <div class="icon-text">Decent work and economic growth</div>
          </div>

          <div class="icon-item">
            <div class="icon reduced-inequalities">
              <img src="../image/social/poverty.png" alt="Reduced inequalities icon" />
            </div>
            <div class="icon-text">Reduced inequalities</div>
          </div>

          <div class="icon-item">
            <div class="icon responsible-consumption">
              <img src="../image/social/poverty.png" alt="Responsible consumption icon" />
            </div>
            <div class="icon-text">Responsible consumption and production</div>
          </div>

          <div class="icon-item">
            <div class="icon good-health">
              <img src="../image/social/poverty.png" alt="Good health icon" />
            </div>
            <div class="icon-text">Good health and well being</div>
          </div>
        </div>
      </div>
    </section>

    <!-- Fruits Section -->
    <section class="curve-container position-relative">
      <span class="blur_bg position-absolute right-0 top-0 " style="z-index: 1;"></span>
      <span class="blur_bg position-absolute left-0 bottom-0 " style="z-index: 1;"></span>
      <div class="title">
        <h1>Community initiative impact</h1>
      </div>
      <div class="initiatives" style="z-index: 2;" data-aos="fade-up">
        <div class="initiative-item">
          <div class="number">1</div>
          <div class="text">Quality Education</div>
        </div>
        <div class="initiative-item">
          <div class="number">2</div>
          <div class="text">Gender Equality</div>
        </div>
        <div class="initiative-item">
          <div class="number">3</div>
          <div class="text">Economic Growth</div>
        </div>
        <div class="initiative-item">
          <div class="number">4</div>
          <div class="text">Life on Land</div>
        </div>
        <div class="initiative-item">
          <div class="number">5</div>
          <div class="text">Growth Partnership</div>
        </div>
      </div>
    </section>
    <!-- Key benefit section -->
    <section class="container mb-5" data-aos="fade-up">
      <!-- First Row -->
      <div class="content-wrapper">
        <div class="text-content">
          <h2>Our Mission</h2>
          
          <p>
            In <span class="highlight">Kiega Exims</span>, our guiding principle is to create a lasting impact
            on the lives of small-scale farmers, which in turn contribute to the
            development of the entire region. Our mission goes beyond <span class="highlight">supplying
              organic and healthy products</span> to the global market; It’s about
              uplifting the livelihood of farmers
            </p>
            <span class="blur_bg position-absolute left-0 "></span>
          <p>
            Our guiding principle is to create a lasting impact on the lives of
            small-scale farmers, which in turn contribute to the development of
            the entire region. Our mission goes beyond <span class="highlight">supplying organic and
              healthy products</span> to the global market; It’s about uplifting the
            livelihood of farmers. Our mission goes beyond <span class="highlight">supplying organic and
              healthy products</span> to the global market; It’s about uplifting the
            livelihood of farmers
          </p>
        </div>
        <div class="image-content">
          <img src="../image/ricecorn/green-rice.png" alt="Pumpkins growing in a field" class="circle-image" />
        </div>
        <span class="blur_bg position-absolute left-0 bottom-0" style="bottom: 130px;"></span>
      </div>

      <span class="blur_bg position-absolute right-0 "></span>
      <!-- Second Row -->
      <div class="second-row" data-aos="fade-up">
        <div class="packing-section">
          <h2 class="packing-title">We empower our workforce</h2>
          <ul class="packing-list">
            <li>Ready to eat</li>
            <li>Loose</li>
            <li>Flowpack: 2 / 3 / 4 pcs</li>
            <li>Cellulose tube net: 500 / 700 / 750 / 1000 g</li>
            <li>Variety: Hass</li>
            <li>Box weight: 4 / 6/ 10 kg</li>
          </ul>
        </div>
        <div class="image-content">
          <img src="../image/ricecorn/rice-key.png" alt="Cut pumpkin pieces on a wooden surface" class="circle-image" />
        </div>
      </div>
    </section>
    <%- include('./partials/footer.ejs') %>

      <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
      <script>
        AOS.init();
      </script>
</body>

</html>